<div class="row headerWrapper">
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 height100">
        <img class="logo"  src="assets/images/altroz_logo.png" alt="">
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 flex alignCenter justifySA height100">
        <div routerLink="/features">1. FEATURES</div>
        <div routerLink="/variants">2. VARIANTS</div>
        <div routerLink="/customize">3. CUSTOMIZE</div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 flex alignRight justifyRight">
        <mat-icon aria-hidden="false" aria-label="Home icon">home</mat-icon>
    </div>
</div>